@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-around; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

header:hover{
	opacity: 1;
	background: var(--main-header-background);
}


.nav-show{
	opacity: 0;
}


.nav-bar{
	list-style:none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: var(--main-decor-color);
}

.nav-link:hover {
	color: #000000;
    background: var(--main-decor-color);
}

body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
#flogo{
	position: absolute;
width: 100px;
height: 119.51px;
left: 64px;
	top: 15px;
background: url(images-removebg-preview(1).png);}
#pottermore{
	position: absolute;
width: 263px;
height: 104px;
left: 152px;
top: 30px;
	background: url(image.png);
}
#girl{
	position: absolute;
left: 0%;
top: 15%;
	right: 0%;
bottom: 0%;}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
#aboveQ{
	position: absolute;
width: 1000px;
height: 95.15px;
left: 153px;
top: 128px;

background: url(59f29ac0984bd3002619c2694f9bf624-removebg-preview.png);
	filter: drop-shadow(4px 4px 20px #E79A20);}

#capman{
	position: absolute;
width: 70px;
height: 70px;
left: 13px;
top: 128px;

	background: url(image.png);}
#movie{
	position: absolute;
width: 70px;
height: 70px;
left: 83px;
top: 137px;

	background: url(image.png);}
#capman1{
	position: absolute;
width: 70px;
height: 70px;
left: 1306px;
top: 137px;

	background: url(image.png);}
#movie1{
	position: absolute;
height: 70px;
width: 70px;
left: 14525px;
top: -303px;
border-radius: 0px;
background: url(image.png);}
